<div class="sidebar">
  <div class="logo">
    <img src="https://www.touchworldtech.com/images/logo.png" alt="logo" />
  </div>
  <div class="logo collaps">
    <img src="logo23.png" alt="logo" />
  </div>
  <ul>
    <li class="active">
      <a>
        <div class="icon">
          <i class="pi pi-users"></i>
        </div>
        <span>Employee List</span></a
      >
    </li>
    <li>
      <a>
        <div class="icon">
          <i class="pi pi-table"></i>
        </div>
        <span>API Data table</span>
      </a>
    </li>
  </ul>
</div>
